* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: 500;
    font-size: 36px;
    color:grey;
    background-color: rgb(134, 196, 196);
    margin: 0;
    padding-left: 75px;
}



header nav {
    margin:7px 0;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding-left: 25px;
}
header nav ul li a {
    font-weight: lighter;
    font-size: 1.5vw;
    text-decoration: none;
    color: rgb(134, 196, 196);
    border-bottom: 3px solid rgb(134, 196, 196);

}

.hero {
    background-image: url("../Images/163608037_847840492465725_7087499702446405911_n.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;

}
